@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

﻿@model IEnumerable<DoubleCheck.Models.Asgmt_Type>

<!DOCTYPE html>

<html>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Double Check</h1>
            <p>Always double check your homework! With the Double Check web application you can schedule all of your assignments in one place, get notifications for study time, and watch your list of completed assignments grow and grow.</p> 
        </div>
    </div>
    <h2> Create an account or login to get started! </h2>
    <div class="form-group">
        &nbsp;
    </div>
    <div class="form-group">
        <label for="usr">User Name:</label>
        <input type="text" class="form-control" id="usr">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
        <button type="button" class="btn btn-default" id="userLogin" onclick="location.href='@Url.Action("Login", "Home")'">Login</button>
    </div>
    <!--
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <button type="button" class="btn btn-default" id="userLogin" onclick="location.href='@Url.Action("Login", "Home")'">Login</button>
        -->
    <div class="form-group">
        &nbsp;
    </div>
    <button type="button" class="btn-primary" id="createAccount" onclick="location.href='@Url.Action("CreateUser", "Home")">Create Account</button>
</body>
</html>
