
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="container">
    <h1>Forgot Password</h1> <br /><br />
    <p>
        Please enter your email and we'll send you a link to reset
        your password
    </p>
</div>
<form class="form-horizontal" role="form" asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Send" class="btn btn-primary">Send</button>
        </div>
    </div>
</form>

