@model List<DoubleCheck.Controllers.CalendarModel>

<!DOCTYPE html>

<html>
<head>
    <!--<meta name="viewport" content="width=device-width" />-->
    <link rel='stylesheet' href='~/Scripts/fullcalendar/fullcalendar.css' />
    <script src='~/Scripts/fullcalendar/lib/jquery.min.js'></script>
    <script src='~/Scripts/fullcalendar/lib/moment.min.js'></script>
    <script src='~/Scripts/fullcalendar/fullcalendar.js'></script>
    <title>Calendar</title>
    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            var jsonObjArray = @Html.Raw(Json.Encode(Model));
            console.log(jsonObjArray);
            var eventsData = [];
            for (i = 0; i < jsonObjArray.length; i++){
                eventsData[i] = [];
                eventsData[i].title = jsonObjArray[i].title;
                eventsData[i].start = new Date(parseInt(jsonObjArray[i].startTime.substr(6)));
                eventsData[i].end = new Date(parseInt(jsonObjArray[i].endTime.substr(6)));
                eventsData[i].allDay = false;
                if (jsonObjArray[i].id != null){
                    eventsData[i].url = "../Assignments/Edit/" + jsonObjArray[i].id;
                }
                
                //eventsData[i].dow = jsonObjArray[i].dow;
            }
            console.log(eventsData);
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                header: {
                    left: 'prev, next, today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay, pre'
                },
               /* events: [
        {
            title: 'event1',
            start: '2016-10-19'
        },
        {
            title: 'event2',
            start: '2016-10-19',
            end: '2016-10-20'
        },
        {
            title: 'event3',
            start: '2016-10-19T12:30:00',
            end: '2016-10-19T13:00:00',
            allDay: false // will make the time show
        },
        {
            title: 'event4',
            start: '2016-10-19T12:50:00',
            end: '2016-10-19T13:10:00',
            allDay: false // will make the time show
        }
                ]*/
                events: eventsData
            })

        });
    </script>
</head>
<body>
    <div style="width:90%; margin-left: auto; margin-right:auto; margin-top:100px;"> 
        <div id='calendar'></div>
    </div>
</body>
</html>
