@model List<List<DoubleCheck.Controllers.CalendarModel>>

<!DOCTYPE html>

<html>
<head>
    <!--<meta name="viewport" content="width=device-width" />-->
    <link rel='stylesheet' href='~/Scripts/fullcalendar/fullcalendar.css' />
    <script src='~/Scripts/fullcalendar/lib/jquery.min.js'></script>
    <script src='~/Scripts/fullcalendar/lib/moment.min.js'></script>
    <script src='~/Scripts/fullcalendar/fullcalendar.js'></script>
    <title>Calendar</title>
    <script>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            var classesToggle = true; // A global variable that stores the classes toggle state
            var jsonObjArray = @Html.Raw(Json.Encode(Model));
            console.log(jsonObjArray);
            var assignmentsData = [];
            var classesData = [];

            var assignmentsJson = jsonObjArray[0];
            var classesJson = jsonObjArray[1];
            
            // Assignments Data
            for (i = 0; i < assignmentsJson.length; i++){
                assignmentsData[i] = [];
                assignmentsData[i].title = assignmentsJson[i].title;
                assignmentsData[i].start = new Date(parseInt(assignmentsJson[i].startTime.substr(6)));
                assignmentsData[i].end = new Date(parseInt(assignmentsJson[i].endTime.substr(6)));
                assignmentsData[i].allDay = false;
                assignmentsData[i].url = "../Assignments/Edit/" + assignmentsJson[i].id;   
                //eventsData[i].dow = assignmentsJson[i].dow;
            }

            // Classes Data
            for (i = 0; i < classesJson.length; i++){
                classesData[i] = [];
                classesData[i].title = classesJson[i].title;
                classesData[i].start = new Date(parseInt(classesJson[i].startTime.substr(6)));
                classesData[i].end = new Date(parseInt(classesJson[i].endTime.substr(6)));
                classesData[i].allDay = false;                            
            }

            
            $('#calendar').fullCalendar({
                // put your options and callbacks here

                customButtons: {
                    // Custom button that allows toggling of class times from the calendar
                    toggleClasses: {
                        text: 'Toggle Classes',
                        click: function() {
                            if (classesToggle){
                                $('#calendar').fullCalendar( 'removeEventSource',  classesData);
                                classesToggle = false; 
                            }
                            else{
                                $('#calendar').fullCalendar( 'addEventSource',  classesData);
                                classesToggle = true;
                            }
                        }
                    }
                },
                
                defaultView: 'agendaWeek',

                header: {
                    left: 'prev, next, today, toggleClasses',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay, pre'
                },
               /* events: [
        {
            title: 'event1',
            start: '2016-10-19'
        },
        {
            title: 'event2',
            start: '2016-10-19',
            end: '2016-10-20'
        },
        {
            title: 'event3',
            start: '2016-10-19T12:30:00',
            end: '2016-10-19T13:00:00',
            allDay: false // will make the time show
        },
        {
            title: 'event4',
            start: '2016-10-19T12:50:00',
            end: '2016-10-19T13:10:00',
            allDay: false // will make the time show
        }
                ]*/
                eventSources: [assignmentsData, classesData]
            })

        });
    </script>
</head>
<body>
    <div style="width:90%; margin-left: auto; margin-right:auto; margin-top:100px;"> 
        <div id='calendar'></div>
    </div>
</body>
</html>
