
@{
    ViewBag.Title = "Assess";
}
<!--Using http://www.testyourenglish.net/english-online/cloze-reading/clozetest-3.html-->

<h2>Assess</h2>

@using (Html.BeginForm("Grade", "Cloze", FormMethod.Post))
{
    <h2>Read the paragraph and then select which words would best fill in each blank, numbered 1-5 below.</h2>

    <h3>The postal service is the government agency (1) ----- handles the mail. Its job is (2) ----- letters and packages to people and businesses all over the world. Its goal is to see that your mail gets to its destination (3) ----- possible. People (4) ----- the postal service to deliver important letters and even valuables, (5) ----- time and to the right person. </h3>
    <br />
    <h4>1.</h4>
    <br />
    <div>
        <input type="radio" name="paragraph-1-answers" id="paragraph-1-answers-A" value="A" />
        <label for="paragraph-1-answers-A">A) the fact that </label>
    </div>
    <div>
        <input type="radio" name="paragraph-1-answers" id="paragraph-1-answers-B" value="B" />
        <label for="paragraph-1-answers-B">B) whether </label>
    </div>
    <div>
        <input type="radio" name="paragraph-1-answers" id="paragraph-1-answers-C" value="C" />
        <label for="paragraph-1-answers-C">C) of which </label>
    </div>
    <div>
        <input type="radio" name="paragraph-1-answers" id="paragraph-1-answers-D" value="D" />
        <label for="paragraph-1-answers-D">D) that </label>
    </div>
    <div>
        <input type="radio" name="paragraph-1-answers" id="paragraph-1-answers-E" value="E" />
        <label for="paragraph-1-answers-E">E) in that </label>
    </div>
    <br />
    <h4>2.</h4>
    <br />
    <div>
        <input type="radio" name="paragraph-2-answers" id="paragraph-2-answers-A" value="A" />
        <label for="paragraph-2-answers-A">A) being delivered </label>
    </div>
    <div>
        <input type="radio" name="paragraph-2-answers" id="paragraph-2-answers-B" value="B" />
        <label for="paragraph-2-answers-B">B) to be delivered </label>
    </div>
    <div>
        <input type="radio" name="paragraph-2-answers" id="paragraph-2-answers-C" value="C" />
        <label for="paragraph-2-answers-C">C) to have delivered </label>
    </div>
    <div>
        <input type="radio" name="paragraph-2-answers" id="paragraph-2-answers-D" value="D" />
        <label for="paragraph-2-answers-D">D) having delivered </label>
    </div>
    <div>
        <input type="radio" name="paragraph-2-answers" id="paragraph-2-answers-E" value="E" />
        <label for="paragraph-2-answers-E">E) to deliver </label>
    </div>
    <br />
    <h4>3.</h4>
    <br />
    <div>
        <input type="radio" name="paragraph-3-answers" id="paragraph-3-answers-A" value="A" />
        <label for="paragraph-3-answers-A">A) less quickly </label>
    </div>
    <div>
        <input type="radio" name="paragraph-3-answers" id="paragraph-3-answers-B" value="B" />
        <label for="paragraph-3-answers-B">B) too quickly </label>
    </div>
    <div>
        <input type="radio" name="paragraph-3-answers" id="paragraph-3-answers-C" value="C" />
        <label for="paragraph-3-answers-C">C) so quickly that </label>
    </div>
    <div>
        <input type="radio" name="paragraph-3-answers" id="paragraph-3-answers-D" value="D" />
        <label for="paragraph-3-answers-D">D) as quickly as </label>
    </div>
    <div>
        <input type="radio" name="paragraph-3-answers" id="paragraph-3-answers-E" value="E" />
        <label for="paragraph-3-answers-E">E) the most quickly </label>
    </div>
    <br />
    <h4>4.</h4>
    <br />
    <div>
        <input type="radio" name="paragraph-4-answers" id="paragraph-4-answers-A" value="A" />
        <label for="paragraph-4-answers-A">A) back out </label>
    </div>
    <div>
        <input type="radio" name="paragraph-4-answers" id="paragraph-4-answers-B" value="B" />
        <label for="paragraph-4-answers-B">B) check out </label>
    </div>
    <div>
        <input type="radio" name="paragraph-4-answers" id="paragraph-4-answers-C" value="C" />
        <label for="paragraph-4-answers-C">C) come in </label>
    </div>
    <div>
        <input type="radio" name="paragraph-4-answers" id="paragraph-4-answers-D" value="D" />
        <label for="paragraph-4-answers-D">D) figure out </label>
    </div>
    <div>
        <input type="radio" name="paragraph-4-answers" id="paragraph-4-answers-E" value="E" />
        <label for="paragraph-4-answers-E">E) rely on </label>
    </div>
    <br />
    <h4>5.</h4>
    <br />
    <div>
        <input type="radio" name="paragraph-5-answers" id="paragraph-5-answers-A" value="A" />
        <label for="paragraph-5-answers-A">A) to </label>
    </div>
    <div>
        <input type="radio" name="paragraph-5-answers" id="paragraph-5-answers-B" value="B" />
        <label for="paragraph-5-answers-B">B) for </label>
    </div>
    <div>
        <input type="radio" name="paragraph-5-answers" id="paragraph-5-answers-C" value="C" />
        <label for="paragraph-5-answers-C">C) at </label>
    </div>
    <div>
        <input type="radio" name="paragraph-5-answers" id="paragraph-5-answers-D" value="D" />
        <label for="paragraph-5-answers-D">D) on </label>
    </div>
    <div>
        <input type="radio" name="paragraph-5-answers" id="paragraph-5-answers-E" value="E" />
        <label for="paragraph-5-answers-E">E) over </label>
    </div>
    <br />

    <input type="submit" value="Submit Test" />
}

