
@{
    ViewBag.Title = "Cloze Exam";
}

<div class="cloze-index-title">
    <h1>Welcome, @Session["UserFirstName"]!</h1>
    <h4>Double Check needs to assess your reading level in order to estimate how long it will take you to complete your assignments.</h4>
    <h4>Would you like to take the assessment now?</h4>
</div>

<div class="cloze-options">
    <button class="cloze-btn-option btn btn-success" onclick="location.href='@Url.Action("Assess","Cloze")'">YES</button>

    <button class="cloze-btn-option btn btn-default" onclick="location.href='@Url.Action("Index","Home")'">NO</button>

    <button class="cloze-btn-option btn btn-warning"onclick="location.href='@Url.Action("StopAsking","Cloze")'">No, and don't ask me again.</button>
</div>